<nav class="navbar navbar-default ">
  <div class="container">
    <a href="#" class="logo pull-left">
      <span class="hidden-mobile">六角學院</span> 視差滾動範例
    </a>
    <ul class="nav-menu pull-right clearfix hidden-mobile">
      <li>
        <a href="#three-point" class="scrollTop" title="三大重點">
          三大重點
        </a>
      </li>
      <li>
        <a href="#skills" class="scrollTop" title="技能熟練度">
          技能熟練度
        </a>
      </li>
      <li>
        <a href="#profiles" class="scrollTop" title="個人簡介">
          個人簡介
        </a>
      </li>
    </ul>
  </div>
</nav>
