<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <% include ../partials/_head %>
  </head>

  <body>
    <div class="wrap">
      <% include ../partials/_navbar.ejs %> 
      <%# include(../partials/_navbar.ejs, {title: 六角學院}) %>  

      <%- contents %> 

      <% include ../partials/_footer %>
    </div>
    <!-- script -->
    <script src="javascripts/vendor.js"></script>
    <%# for (let jsItem of js) { %>
      <!-- <script src="./javascripts/<%# jsItem %>"></script> -->
    <%# } %>
    
    <!-- <script src="./javascripts/all.js>"></script> -->
    
  </body>

</html>
